.year {
  width: 250px;
  height: 250px;
}
.year.loading {
  background: url('../img/loading.gif') center center no-repeat;
}
.sidenav .loading {
  background: url('../img/loading.gif') center 20px no-repeat;
  min-height: 70px;
}
.pull-quote {
  padding: 8px;
  font-size: 14px;
  font-weight: 200;
  line-height: 25px;
}
.instructions {
  padding: 15px 8px 8px 20px;
  font-size: 14px;
  font-weight: 200;
  line-height: 25px;
}
.instructions .icon-chevron-left {
  position: absolute;
  left: 0;
  top: 84px;
}
.topnav {
  padding: 0 0 0 16px;
}
.sidenav {
  padding: 8px 0;
}
.year-container {
  position: fixed;
  top: 90px;
}
.year-container h5 {
  text-align: center;
}
.year-container h5 {
  visibility: hidden;
}
.initialized .year-container h5 {
  visibility: visible;
}
